:focus {
	outline: 2px #e00 dashed;
}

:focus-visible {
	outline: 2px #e00 dashed;
}

:focus:not(:focus-visible) {
	outline: none;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

body {
	max-width: 40rem;
	background-color: var(--bg);
	color: var(--text);

	margin: 0 auto;
	padding: .5rem;
}

body > * {
	margin-bottom: 1rem;
}

header {
	text-align: center;
	padding: 2rem 1rem;
	margin-bottom: 0;
}

header h1 {
	margin: 0;
	margin-bottom: 1rem;
}

p {
	text-align: justify;
}

footer {
	color: var(--muted);
	text-align: center;
	padding: 1rem;
}

a {
	padding: .25rem;
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	color: var(--bg);
	background-color: var(--primary);
}

nav {
	display: flex;
	justify-content: center;
}

nav a {
	display: block;
	padding: .5rem 1rem;
}

section, main, article {
	padding: 1rem;
	border: var(--muted) solid 1px;
}

h2 {
	font-size: 1.2rem;
	margin: 0;
	margin-bottom: .7rem;
}

.tree ul {
	font-size: 1.1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tree li {
	margin-left: .35em;
	border-left: thin solid var(--muted);
	position: relative;
	padding-top: .7em;
	padding-left: 1.2em;
}


.tree li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1.3em;
	border-bottom: thin solid var(--muted);
	display: inline-block;
}

.tree li:last-child {
	border-left: none;
}

.tree li:last-child::before {
	border-left: thin solid var(--muted);
}

.tree h2 {
	margin-bottom: 0;
}
:root {
	--text: #0c0c0c;
	--bg: #fcfcfc;
	--primary: #005cc5;
	--muted: #555;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #fcfcfc;
		--bg: #1a1a1a;
		--primary: #2996df;
		--muted: #aaa;
	}
}
