:focus {
	outline: 2px #e00 dashed;
}

:focus-visible {
	outline: 2px #e00 dashed;
}

:focus:not(:focus-visible) {
	outline: none;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

body {
	max-width: 40rem;
	background-color: var(--bg);
	color: var(--text);

	margin: 0 auto;
	padding: .5rem;
}

body > * {
	margin-bottom: 1rem;
}

header {
	text-align: center;
	padding: 2rem 1rem;
	margin-bottom: 0;
}

header h1 {
	margin: 0;
	margin-bottom: 1rem;
}

p {
	text-align: justify;
}

footer {
	color: var(--muted);
	text-align: center;
	padding: 1rem;
}

a {
	padding: .25rem;
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	color: var(--bg);
	background-color: var(--primary);
}

nav {
	display: flex;
	justify-content: center;
}

nav a {
	display: block;
	padding: .5rem 1rem;
}

section, main, article {
	padding: 1rem;
	border: var(--muted) solid 1px;
}

h2 {
	font-size: 1.2rem;
	margin: 0;
	margin-bottom: .7rem;
}

