---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content={description}>
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
	<title>{title}</title>
</head>
<body class="p-3 flex sm:h-screen items-center justify-center bg-gray-100 dark:bg-gray-900 transition-all">
	<slot />
</body>
</html>
