{{ define "title" }} Homepage &ndash; {{ end }}

{{ define "main" }}
	<header>
		<h1>/home/kornel</h1>
		{{ partial "menus/main" . }}
	</header>


	<section> {{ .Content }} </section>

	{{ partial "menus/projects" . }}
	
	<section>
		<h2>Contact</h2>
		<a href="mailto:{{ .Site.Params.Mail }}">{{ .Site.Params.Mail }}</a>
	</section>
	
	<section>
		<h2>Last notes</h2>
		
		{{ $notes := where .Site.RegularPages "Section" "notes" }}
		
		<ul>
			{{ range last 10 $notes }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
	</section>
	
	{{ with .Section }}
		{{ partial "lists/pages" .}}
	{{ end }}
{{ end }}
